<form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
  <div class="mb-3" >
    <label class="form-label">Username</label>
    <input type="email" formControlName="username" class="form-control" placeholder="BetoFlores1358"> 
  </div>
  <div class="mb-3">
    <label class="form-label">Password</label>
    <input type="password" formControlName="password" class="form-control" >
  </div>
  <div>
    <span style="color: red;" *ngIf="!reactiveForm.get('username').valid && reactiveForm.get('username').touched">
      Fields required
    </span>
  </div>
  <button type="submit" class="btn btn-success">
    Save
  </button>
</form>
